*{
    padding:0px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.drlogo{
    display: inline;
    position: absolute;
    left: 200px;
}
.drlogo img{
    position: absolute;
    top:6px;
}
.drlogo-right{
    display: inline;
    position: absolute;
    right: 200px;
    top:20px;
}
.drlogo-right .left,.right{
    float: left;
    display: inline;

}
.drlogo-right .join{
    display: inline-block;
    background: #d9b39b;
    color: #ffffff;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
}
.dr_member_left a,i{
    display: inline-block;
    padding: 0 15px 0 9px;
    font-size: 12px;
    color:#8d8d8d;
}
.right span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../../public/images/bread_right.png ) no-repeat;
}
#imgs{
    position: absolute;
    top:62px;
    height: 565px;
    overflow: hidden;
    position: relative;
}
/*#imgs ul{*/
/*position: absolute;*/
/*top:0px;*/
/*left: 0px;*/
/*}*/
#imgs li{
    float: left;
    width: 1349px;
    height: 565px;
}
#imgs li img{
    width: 1349px;
    height: 565px;
}
#imgs .img1{
    z-index: 10;
}
#imgs .img2{
    z-index: 1;
}



#logindiv{
    width: 312px;
    height: 382px;
    position: relative;
    position: absolute;
    top:110px;
    left:800px;
    background-color: #ffffff;
    opacity: 1;
    z-index: 999;
}
#logindiv h3{
    text-align: center;
    font-size: 20px;
    color: #c67c59;
    height: 38px;
    line-height: 38px;
}
#loginform input{
    height: 40px;
    width: 248px;
    margin-left: 25px;
}
#loginform  #yanzhengma{
    width: 120px;
}
#loginform  #huoquyanzhengma{
    float: right;
    width: 105px;
    height: 40px;
    position: absolute;
    top:122px;
    left: 160px;
    background: url("../../public/images/getCodeBtn.png") no-repeat;
    color: #c57d5c;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
}
#loginform p{
    text-align: center;
    font-size: 12px;
}
#loginform .phone p a{
    color: #c57d5c;
}
#dr-btn{
    position: absolute;
    top:214px;
}
#dr-btn a{
    display: inline-block;
    width: 246px;
    height: 38px;
    margin-top:10px ;
    border-radius: 4px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    margin-left: 30px;
}
#dr-btn .loginbtn{
    border: 1px solid #c57d5c;
    color: #c57d5c;
}
#dr-btn .loginbtn:hover{
    border: 1px solid #d49e85;
    color: #d49e85;
}
#dr-btn .joinbtn{
    border: 1px solid #c57d5c;
    background: #c57d5c;
    color: #ffffff;
}
#dr-btn .joinbtn:hover{
    border: 1px solid #d49e85;
    background: #d49e85;
    color: #ffffff;
}
.email #isRemeber{
    width: 13px;
    height: 13px;
    position: absolute;
    left:5px;
    top:170px;
}
.email .actionpwd{
    color: #888;
}
.email .actionpwd a{
    color: #888;
    position: absolute;
    top:173px;
    left:200px;
}
.email .actionpwd label{
    position: absolute;
    left:48px;
    top:173px;
}
.email .usePhoneyanzhengma{
    position: absolute;
    top:200px;
    left: 95px;
}
.email .usePhoneyanzhengma a{
    color: #c57d5c;
}
#findpwd{
    width: 312px;
    height: 382px;
    position: relative;
    position: absolute;
    top:110px;
    left:800px;
    background: #ffffff;
}
#findpwd li{
    float: left;
    width: 155px;
    height: 47px;
    border-bottom: 1px solid #D2D5D7;
    border-left: 1px solid #D2D5D7;
    background-color: #F5F5F5;
}
#findpwd ul li{
    float: left;
    width: 155px;
    height: 47px;
    border-bottom: 1px solid #D2D5D7;
    border-left: 1px solid #D2D5D7;
    background-color: #F5F5F5;
}
#findpwd ul .active{
    border-bottom: none;
    border-left: none;
    background-color: #ffffff;
}
#findpwd ul li a{
    width: 152px;
    height: 47px;
    display: inline-block;
    text-align: center;
    line-height: 47px;
    color: #626262;
}
#findpwd ul li .active1{
    color: #C67C59;
}
#findpwd form{
    position: absolute;
    top:75px;
}
#findpwd input{
    height: 40px;
    width: 248px;
    margin-left: 25px;
}
#findpwd form #phoneyanzhengma{
    width: 120px;
}
#findpwd form #phonehuoquyanzhengma{
    width: 105px;
    height: 40px;
    position: absolute;
    top:110px;
    left: 160px;
    background: url("../../public/images/getCodeBtn.png") no-repeat;
    color: #c57d5c;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
}
#findpwd form .colorbtn{
    color: #ffffff;
    background: #c57d5c;
    border: 1px solid #c57d5c;
    border-radius: 4px;
    position: absolute;
    top:220px;
}
#findpwd form .colorbtn:hover{
    color: #ffffff;
    background: #d49e85;
    border: 1px solid #d49e85;
}
#findpwd form .loginlink{
    position: absolute;
    top: 270px;
    left:210px;
}
#findpwd form .loginlink a{
    color: #999999;
    font-size: 12px;
}
#findpwd form .loginlink a:hover{
    color: #c57d5c;
}
#findpwd form #input{
    width: 120px;
}
#findpwd form #code{
    width: 80px;
    position: absolute;
    top: 55px;
    left: 160px;
}
#findpwd form #chongzhi{
    position: absolute;
    top:150px;
}
#findpwd form #loginlink{
    position: absolute;
    top: 200px;
}
#code{
    font-family:Arial;
    font-style:italic;
    font-weight:bold;
    border:0;
    letter-spacing:2px;
    color:blue;
}

