<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Darry Ring求婚钻戒|DR求婚|戴瑞求婚|求婚钻戒|求婚|-Darry Ring戴瑞珠宝官网</title>
    <link rel="stylesheet" href="../../public/css/header.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="http://www.darryring.com/favicon.ico">
</head>
<body>
    <div class="dr_header">
        <div class="dr_header_content fix">
            <div class="dr_logo left">
                <a href=" "><img src="../../public/images/drlogo.png"></a>
                <a href=" "><span>男士一生只能订制一枚</span></a>
            </div>
            <div class="dr_member right">
                <!--店铺-->
                <div class="drmember_sec">
                    <div class="dr_member_left left" id="long_status">
                        <a href="">登录</a>
                        <a href="">加入DR族</a>
                    </div>
                    <div class="dr_member_left left">
                        <i><img src="../../public/images/telleft.png"/>400-01-13520</i>
                    </div>
                    <div class="dr_member_left left">
                        <a href="">DR社区</a>
                    </div>
                    <div class="drapp_dowonload left">
                        <span>DR族APP</span>
                        <div class="drappBottom">
                            <p>"暖心的情侣互动"<br/>"下载DR专属APP"</p>
                        </div>
                    </div>
                    <div class="dr_member_left drwapWeb left">
                        <a href="">手机官网</a>
                        <div class="drappBottom" style="display: none;">
                            <p>"扫描二维码"<br/>"访问"</p>
                        </div>
                    </div>
                    <ul class="dr_member_right" id="dr_country">
                        <li><a href="">中文（简体）</a></li>
                        <li id="dr_english" style="display: none;">
                            <a href="">English</a>
                            <a href="">中文（繁体）</a>
                        </li>
                    </ul>
                </div>
                <div class="drmember_shop" style="z-index: 0;">
                    <div class="drmember_shopAll">
                        <a class="drmember_shopBtn" href="">全国店铺 ></a>
                        <!--获取所有的地址-->
                        <div class="dr_member_ipx1" style="display: none;">
                            <a href="">北京</a>
                            <a href="">江苏</a>
                            <a href="">上海</a>
                            <a href="">浙江</a>
                            <a href="">哈尔滨</a>
                        </div>
                    </div>
                    <p class="drmember_gps">北京</p>
                </div>
                <form method="post" name="form1" id="form1" action="">
                    <div class="drmember_yz">
                        <!--提示-->
                        <div class="drmember_yz_word index_yz_word" id="dr_sfwrong" style="display: none;">
                            <p>Darry Ring严格规定男士凭身份证一生仅能定制一枚，象征男人一生真爱的最高承诺。输入身份证号码即可查询购买记录。</p>
                        </div>
                        <div class="drmember_yz_wrong" style="display: none;">
                            <p>身份证有误，请重新输入。</p>
                        </div>
                        <div class="drmember_yzborder">
                            <div class="drmember_yzborderul">见证浪漫爱情</div>
                            <input type="text" placeholder="请输入身份证号验证真爱承诺" name="identity" value id="txtIDCardw">
                            <input type="text" value="" style="display:none">
                            <i id="trueLoveSeach"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>