<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Darry Ring求婚钻戒|DR求婚|戴瑞求婚|求婚钻戒|求婚|-Darry Ring戴瑞珠宝官网</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://www.darryring.com/favicon.ico">
    <link rel="stylesheet" href="../../public/css/shopinfo.css"/>
    <link rel="stylesheet" href="../../public/css/header.css"/>
    <link rel="stylesheet" href="../../public/css/footer.css"/>
</head>
<body>

<div id="box">

<!--头部    -->
    <div class="dr_header">
        <div class="dr_header_content fix">
        <div class="dr_logo left">
            <a href=" "><img src="../../public/images/drlogo.png"></a>
            <a href=" "><span>男士一生只能订制一枚</span></a>
        </div>
        <div class="dr_member right">
            <!--店铺-->
            <div class="drmember_sec">
                <div class="dr_member_left left" id="long_status">
                    <a href="">登录</a>
                    <a href="">加入DR族</a>
                </div>
                <div class="dr_member_left left">
                    <i><img src="../../public/images/telleft.png"/>400-01-13520</i>
                </div>
                <div class="dr_member_left left">
                    <a href="">DR社区</a>
                </div>
                <div class="drapp_dowonload left">
                    <span>DR族APP</span>
                    <div class="drappBottom">
                        <p>"暖心的情侣互动"<br/>"下载DR专属APP"</p>
                    </div>
                </div>
                <div class="dr_member_left drwapWeb left">
                    <a href="">手机官网</a>
                    <div class="drappBottom" style="display: none;">
                        <p>"扫描二维码"<br/>"访问"</p>
                    </div>
                </div>
                <ul class="dr_member_right" id="dr_country">
                    <li><a href="">中文（简体）</a></li>
                    <li id="dr_english" style="display: none;">
                        <a href="">English</a>
                        <a href="">中文（繁体）</a>
                    </li>
                </ul>
            </div>
            <div class="drmember_shop" style="z-index: 0;">
                <div class="drmember_shopAll">
                    <a class="drmember_shopBtn" href="">全国店铺 ></a>
                    <!--获取所有的地址-->
                    <div class="dr_member_ipx1" style="display: none;">
                        <a href="">北京</a>
                        <a href="">江苏</a>
                        <a href="">上海</a>
                        <a href="">浙江</a>
                        <a href="">哈尔滨</a>
                    </div>
                </div>
                <p class="drmember_gps">北京</p>
            </div>
            <form method="post" name="form1" id="form1" action="">
                <div class="drmember_yz">
                    <!--提示-->
                    <div class="drmember_yz_word index_yz_word" id="dr_sfwrong" style="display: none;">
                        <p>Darry Ring严格规定男士凭身份证一生仅能定制一枚，象征男人一生真爱的最高承诺。输入身份证号码即可查询购买记录。</p>
                    </div>
                    <div class="drmember_yz_wrong" style="display: none;">
                        <p>身份证有误，请重新输入。</p>
                    </div>
                    <div class="drmember_yzborder">
                        <div class="drmember_yzborderul">见证浪漫爱情</div>
                        <input type="text" placeholder="请输入身份证号验证真爱承诺" name="identity" value id="txtIDCardw">
                        <input type="text" value="" style="display:none">
                        <i id="trueLoveSeach"></i>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
<!--导航栏-->
    <div class="dr_navbk fix">
        <ul class="dr_nav w1000">
            <li id="DrNav">
                <a href="/" phptag="官网_公共头部_文字链接_DR">DR</a>
                <!--下拉导航-->
                <div class="dr_navsuv dr_navsuv-third" id="DRsubNav" style="display: none;">
                    <!--导航上部分-->
                    <div class="dr_navsuv-top">
                        <!--中间内容-->
                        <div class="dr_navsuv-cort">
                            <!--品牌文化-->
                            <div class="dr_navsuv-curture">
                                <div class="dr_navsuv-curturesame fl">
                                    <img src="../../public/images/drword.png">
                                    <p class="tojoinDR"><a href="">加入DR族</a></p>
                                </div>
                                <div class="dr_navsuv-curturesame fl">
                                    <a href="">
                                        <img src="../../public/images/drimg.jpg">
                                    </a>
                                    <p><a href="">搜索DR族</a></p>
                                </div>
                            </div>
                            <!--品牌文化end-->
                        </div>
                        <!--中间内容end-->
                    </div>
                    <!--导航上部分end-->
                </div>
                <!--下拉导航end-->
            </li>
            <li id="qhzjNav">
                <a href="">求婚钻戒</a>
                <!--下拉导航-->
                <div class="dr_navsuv dr_navsuv-first" id="qhzjsubNav">
                    <!--导航上部分-->
                    <div class="dr_navsuv-top">
                        <!--中间内容-->
                        <div class="dr_navsuv-cort dr_navTabs">
                            <!--戒指-->
                            <div class="dr_navsuv-ring dr_navsuvleft-ring fl">
                                <a href="" style="display: block;">
                                    <img src="../../public/images/1477450434.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1481184001.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1477450647.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1473674984.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1473675043.jpg" width="200" height="200">
                                </a>
                            </div>
                            <!--戒指end-->
                            <!--相同部分-->
                            <div class="dr_navsuv-same dr_navsuvleft-same fl">
                                <a href="" class="select"><p>稀世粉钻</p></a>
                                <a href=""><p>MY HEART 系列</p></a>
                                <a href=""><p>FOREVER 系列</p></a>
                                <a href=""><p>TRUE LOVE 系列</p></a>
                                <a href=""><p>I SWARE 系列</p></a>
                            </div>
                            <!--相同部分end-->
                            <!--相同部分-->
                            <div class="dr_navsuv-same dr_navsuvright-same fl">
                                <a href="" class="select"><p>JUST YOU 系列</p></a>
                                <a href=""><p>BELIEVE 系列</p></a>
                                <a href=""><p>LOVE LINE 系列</p></a>
                                <a href=""><p>PRINCESS 系列</p></a>
                                <a href=""><p>查看全部商品</p></a>
                            </div>
                            <!--相同部分end-->
                            <!--戒指-->
                            <div class="dr_navsuv-ring dr_navsuvright-ring fl">
                                <a href="" style="display: block;">
                                    <img src="../../public/images/1473675081.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1477450706.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1477450804.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1477450853.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1477450884.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/201502061050359c37df606b.jpg" width="200" height="200">
                                </a>
                            </div>
                            <!--戒指end-->
                        </div>
                        <!--中间内容end-->
                    </div>
                    <!--导航上部分end-->
                </div>
                <!--下拉导航end-->
            </li>
            <li id="zaskNav">
                <a href="" phptag="官网_公共头部_文字链接_爱的礼物">爱的礼物</a>
                <!--下拉导航-->
                <div class="dr_navsuv dr_navsuv-sec" id="zasksubNav" style="display: none;">
                    <!--导航上部分-->
                    <div class="dr_navsuv-top">
                        <!--中间内容-->
                        <div class="dr_navsuv-cort dr_navTabs">
                            <!--戒指-->
                            <div class="dr_navsuv-ring dr_navsuvleft-ring fl">
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1477451237.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1477451411.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1477451433.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1477451532.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: block;">
                                    <img src="../../public/images/1477451467.jpg" width="200" height="200">
                                </a>
                            </div>
                            <!--戒指end-->
                            <!--相同部分-->
                            <div class="dr_navsuv-same dr_navsuvleft-same fl">
                                <a href="" class=""><p>对戒</p></a>
                                <a href="" class=""><p>男戒</p></a>
                                <a href="" class=""><p>吊坠</p></a>
                                <a href="" class=""><p>手链/手镯</p></a>
                                <a href="" class="select"><p>耳钉/耳环</p></a>
                            </div>
                            <!--相同部分end-->
                            <!--相同部分-->
                            <div class="dr_navsuv-same dr_navsuvright-same fl">
                                <a href="" class="select"><p>十二星座吊坠</p></a>
                                <a href=""><p>纪念日礼物</p></a>
                                <a href=""><p>生日礼物</p></a>
                                <a href=""><p>节日礼物</p></a>
                                <a href=""><p>查看全部商品</p></a>
                            </div>
                            <!--相同部分end-->
                            <!--戒指-->
                            <div class="dr_navsuv-ring dr_navsuvright-ring fl">
                                <a href="" style="display: block;">
                                    <img src="../../public/images/1477451612.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1477451664.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1477451745.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1477451776.jpg" width="200" height="200">
                                </a>
                                <a href="" style="display: none;">
                                    <img src="../../public/images/1477451815.jpg" width="200" height="200">
                                </a>

                                <a href="" style="display: none;">
                                    <img src="../../public/images/20150129121254e8cdb1d2f7.jpg" width="200" height="200">
                                </a>
                            </div>
                            <!--戒指end-->
                        </div>
                        <!--中间内容end-->
                    </div>
                    <!--导航上部分end-->
                </div>
                <!--下拉导航end-->
            </li>
            <li>
                <a href="" phptag="官网_公共头部_文字链接_钻戒定制">钻戒定制</a>
            </li>
            <li id="shopNav">
                <a href="" phptag="官网_公共头部_文字链接_DR实体店">DR实体店</a>
                <!--下拉导航-->
                <div class="dr_navsuv dr_navsuv-third" id="ShopsubNav">
                    <!--导航上部分-->
                    <div class="dr_navsuv-top">
                        <!--中间内容-->
                        <div class="dr_navsuv-cort">
                            <!--品牌文化-->
                            <div class="dr_navsuv-curture">
                                <div class="dr_navsuv-curturesame fl">
                                    <!--热门城市-->
                                    <div class="drstore-hot">
                                        <h3><span>热门城市</span></h3>
                                        <p><a href="">香港</a><a href="">上海</a><a href="">北京</a><a href="">广州</a><a href="">深圳</a></p>
                                    </div>
                                    <!--热门城市end-->
                                    <a href="" id="right_Href">更多&gt;</a>
                                    <!--tab选项-->
                                    <ul class="drstore-tab" id="drstore-tab-nav">
                                        <li class="drstore-tabhover">
                                            华北区
                                            <!--店铺名字-->
                                            <div class="drstore-shopname">
                                                <span class="drstore-shopnamehover" style="opacity: 1;"><a href="/store/show-bjstore">北京市</a></span>
                                                <span style="opacity: 1;"><a href="">石家庄市</a></span>
                                                <span style="opacity: 1;"><a href="">唐山市</a></span>
                                                <span style="opacity: 1;"><a href="">太原市</a></span>
                                                <span style="opacity: 1;"><a href="">呼和浩特市</a></span>
                                                <span style="opacity: 1;"><a href="">天津市</a></span>
                                                <span style="opacity: 1;"><a href="">更多&gt;</a></span>
                                            </div>
                                            <!--店铺名字end-->
                                        </li>
                                        <li class="">
                                            华东区
                                            <!--店铺名字-->
                                            <div class="drstore-shopname">
                                                <span class="drstore-shopnamehover"><a href="">上海市</a></span>
                                                <span><a href="">上海市</a></span>
                                                <span><a href="">南京市</a></span>
                                                <span><a href="">无锡市</a></span>
                                                <span><a href="">常州市</a></span>
                                                <span><a href="">苏州市</a></span>
                                                <span><a href="">南通市</a></span>
                                                <span><a href="">杭州市</a></span>
                                                <span><a href="">宁波市</a></span>
                                                <span><a href="">温州市</a></span>
                                                <span><a href="">金华市</a></span>
                                                <span><a href="">合肥市</a></span>
                                                <span><a href="">福州市</a></span>
                                                <span><a href="">厦门市</a></span>
                                                <span><a href="">济南市</a></span>
                                                <span><a href="">青岛市</a></span>
                                                <span><a href="">烟台市</a></span>
                                                <span><a href="">潍坊市</a></span>
                                                <span><a href="">临沂市</a></span>
                                                <span><a href="">更多&gt;</a></span>
                                            </div>
                                            <!--店铺名字end-->
                                        </li>
                                        <li class="">
                                            华中区
                                            <!--店铺名字-->
                                            <div class="drstore-shopname">
                                                <span class="drstore-shopnamehover"><a href="">南昌市</a></span>
                                                <span><a href="">郑州市</a></span>
                                                <span><a href="">武汉市</a></span>
                                                <span><a href="">长沙市</a></span>
                                                <span><a href="">更多&gt;</a></span>
                                            </div>
                                            <!--店铺名字end-->
                                        </li>
                                        <li class="">
                                            华南区
                                            <!--店铺名字-->
                                            <div class="drstore-shopname">
                                                <span class="drstore-shopnamehover"><a href="">广州市</a></span>
                                                <span><a href="">深圳市</a></span>
                                                <span><a href="">佛山市</a></span>
                                                <span><a href="">东莞市</a></span>
                                                <span><a href="">南宁市</a></span>
                                                <span><a href="">海口市</a></span>
                                                <span><a href="">更多&gt;</a></span>
                                            </div>
                                            <!--店铺名字end-->
                                        </li>
                                        <li class="">
                                            西南区
                                            <!--店铺名字-->
                                            <div class="drstore-shopname">
                                                <span class="drstore-shopnamehover"><a href="">重庆市</a></span>
                                                <span><a href="">重庆市</a></span>
                                                <span><a href="">成都市</a></span>
                                                <span><a href="">贵阳市</a></span>
                                                <span><a href="">昆明市</a></span>
                                                <span><a href="">更多&gt;</a></span>
                                            </div>
                                            <!--店铺名字end-->
                                        </li>
                                    </ul>
                                    <!--tab选项end-->
                                    <!--线-->
                                    <div class="drstore-allline">
                                        <div class="drstore-mrline"></div>
                                        <div class="drstore-xz" style="width:26px">
                                            <div class="drstore-xzline"></div>
                                            <div class="drstore-xzbox">
                                            </div>
                                        </div>
                                    </div>
                                    <!--线end-->
                                </div>
                                <div class="dr_navsuv-curturesame fl">
                                    <ul class="drnav_slider" id="drnav_slider">
                                        <li style="display: block;">
                                            <a href="" target="_blank">
                                                <img src="../../public/images/1477304638.jpg">
                                            </a>
                                            <p><a href="">全国实体店</a></p>
                                        </li>
                                        <li style="display: none;">
                                            <a href="" target="_blank">
                                                <img src="../../public/images/1477304603.jpg">
                                            </a>
                                            <p><a href="">重庆观音桥店</a></p>
                                        </li>
                                        <li style="display: none;">
                                            <a href="" target="_blank">
                                                <img src="../../public/images/1477304559.jpg">
                                            </a>
                                            <p><a href="">香港店</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--品牌文化end-->
                        </div>
                        <!--中间内容end-->
                    </div>
                    <!--导航上部分end-->
                </div>
                <!--下拉导航end-->
            </li>
            <li id="ppwhNav">
                <a href="" phptag="官网_公共头部_文字链接_DR品牌文化">DR品牌文化</a>
                <!--下拉导航-->
                <div class="dr_navsuv dr_navsuv-third" id="ppwhsubNav">
                    <!--导航上部分-->
                    <div class="dr_navsuv-top">
                        <!--中间内容-->
                        <div class="dr_navsuv-cort">
                            <!--品牌文化-->
                            <div class="dr_navsuv-curture">
                                <div class="dr_navsuv-curturesame fl">
                                    <a href="">
                                        <img src="../../public/images/1477304677.jpg">
                                    </a>
                                    <p><a href="">品牌文化</a></p>
                                </div>
                                <div class="dr_navsuv-curturesame fl">
                                    <a href="">
                                        <img src="../../public/images/1477304692.jpg">
                                    </a>
                                    <p><a href="">明星推荐</a></p>
                                </div>
                            </div>
                            <!--品牌文化end-->
                        </div>
                        <!--中间内容end-->
                    </div>
                    <!--导航上部分end-->
                </div>
                <!--下拉导航end-->
            </li>
            <li id="DRsqNav">
                <a href="">探索DR</a>
                <!--下拉导航-->
                <div class="dr_navsuv dr_navsuv-third" id="DRsqsubNav">
                    <!--导航上部分-->
                    <div class="dr_navsuv-top">
                        <!--中间内容-->
                        <div class="dr_navsuv-cort">
                            <!--品牌文化-->
                            <div class="dr_navsuv-curture">
                                <div class="dr_navsuv-curturesame fl">
                                    <a href="">
                                        <img src="../../public/images/1488350702.jpg">
                                    </a>
                                    <p><a href="">DR专题</a></p>
                                </div>
                                <div class="dr_navsuv-curturesame fl">
                                    <a href="">
                                        <img src="../../public/images/1488352096.jpg">
                                    </a>
                                    <p><a href="">DR故事</a></p>
                                </div>
                            </div>
                            <!--品牌文化end-->
                        </div>
                        <!--中间内容end-->
                    </div>
                    <!--导航上部分end-->
                </div>
                <!--下拉导航end-->
            </li>
        </ul>
    </div>

<!--内容展示-->
    <div class="dr_banner">
        <ul class="dr_bannerul" id="drHomeBan">
            <li style="display: block;">
                <a href="" target="_blank">
                    <img src="../../public/images/1484721999.jpg">
                </a>
            </li>
            <li style="display: none;">
                <a href="" target="_blank">
                    <img src="../../public/images/1484722032.jpg">
                </a>
            </li>
        </ul>
<!--下面的图片轮换的小点点-->
        <div class="drbanner_xdcort">
            <ul class="drbanner_xd" id="drHomeBanxd">
                <li class="drbanner_click"><span></span></li>
                <li class="nobg"><span></span></li>
            </ul>
        </div>
        <a id="drbanPrev" class="drbanBtn drprevBtn" href=""></a>
        <a id="drbanNext" class="drbanBtn drnextBtn" href=""></a>
    </div>
<!--搜索栏 -->
    <div class="dr-bread dr_header_content">
        <div class="drring_search-left fl">
            <!--面包屑-->
            <div class="drring_all-bread fl">
                <a href="">Darry Ring</a>
                <span>&gt;</span>
                <a href="">求婚钻戒</a>
                <span>&gt;</span>
                <span>所有商品</span>
            </div>
            <!--面包屑end-->
            <!--筛选-->
            <div class="drring_search-choose fl" id="searchList">
                <!-- <a href="javascript:;" dr-type="1">My Heart 系列</a> -->
            </div>
            <!--筛选end-->
        </div>
    </div>

<!--选择-->
    <div class="dr_pink pad-76">
        <div class="dr_header_content">
<!--高级搜索栏-->
            <div class="drring_highsearch" id="highsearch">
                <div class="drring_highsearch-same fix">
                    <span class="fl">系列</span>
                    <div class="drring_series fl">
                        <a href="" dr-type="1" rel="nofollow">MY HEART 系列</a>
                        <a href="" dr-type="1" rel="nofollow">FOREVER 系列</a>
                        <a href="" dr-type="1" rel="nofollow">BELIEVE 系列</a>
                        <a href="" dr-type="1" rel="nofollow">LOVE LINE 系列</a>
                        <a href="" dr-type="1" rel="nofollow">TRUE LOVE 系列</a>
                        <a href="" dr-type="1" rel="nofollow">JUST YOU 系列</a>
                        <a href="" dr-type="1" rel="nofollow">WITH YOU 系列</a>
                        <a href="" dr-type="1" rel="nofollow">PRINCESS  系列</a>
                        <a href="" dr-type="1" rel="nofollow">I SWEAR 系列</a>
                        <a href="" dr-type="1" rel="nofollow">SWEETY 系列</a>
                        <a href="" dr-type="1" rel="nofollow">ENDLESS LOVE 系列</a>
                        <a href="" dr-type="1" rel="nofollow">WEDDING 系列</a>
                    </div>
                    <span href="" class="moreSeries fl" id="moreSeries">更多</span>
                </div>
                <div class="drring_highsearch-same weight">
                    <span>重量（克拉）</span>
                    <a href="">10分以下 </a>
                    <a href="">10分-30分</a>
                    <a href="">30分-50分</a>
                    <a href="">50分-1克拉</a>
                    <a href="">1克拉以上</a>
                </div>
                <div class="drring_highsearch-same">
                    <i class="fr" id="moreCond">更多条件</i>
                    <span>钻石形状</span>
                    <a href="">圆形 </a>
                    <a href="">心形</a>
                    <a href="">方形</a>
                    <a href="">椭圆形</a>
                    <a href="">马眼形</a>
                    <a href="">水滴形</a>
                </div>
                <div class="drring_highsearch-same" id="priceCond" style="display: none;"></div>
            </div>
<!--排序与分页-->
            <div class="drring_sortall">
                <div class="drring_sort fl">
                    <span>排序</span>
                    <i><a href="">按人气</a></i>
                    <i><a href="">按新品</a></i>
                    <i><a href="">按价格</a></i>
                </div>
                <div class="pagin fpagin fr">
                    <a href="" class="nextPage"></a>
                    <a href="" class="prevPage"></a>
                    <span>1/20</span>
                    <span>共240件 商品</span>
                </div>
            </div>
<!--商品展示-->
            <ul class="dring_thing">
                <li>
                    <a href=""><img class="shoucanimg" src="../../public/images/1489574820.jpg" width="320" height="320" alt=""></a>
                    <div class="dring_thing-cort">
                        <div class="dring_thing-price">
                            ¥12109
                        </div>
                        <p class="dring_thing-word">
                            Forever 系列 经典款 30分 F色
                        </p>
                        <div class="dring_thing-button">
                            <span class="wodeshoucan"  data-id="14" price="12109" sku="Z0030235786811">收藏</span>
                            <a href=""><i>立即购买</i></a>
                        </div>
                        <div class="dring_thing-sold">
                            <span>已售：30165</span>
                            <i>评价：<em> 2648 </em></i>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/goods-jewelry-151"><img class="shoucanimg" src="../../public/images/1486968391.png" width="320" height="320" alt=""></a>
                    <div class="dring_thing-cort">
                        <div class="dring_thing-price">
                            ¥18259
                        </div>
                        <p class="dring_thing-word">
                            Love Line 系列 简奢款 30分 F色
                        </p>
                        <div class="dring_thing-button">
                            <span class="wodeshoucan"  data-id="151" price="18259" sku="Z0030233786811">收藏</span>
                            <a href="/goods-jewelry-151"><i>立即购买</i></a>
                        </div>
                        <div class="dring_thing-sold">
                            <span>已售：14369</span>
                            <i>评价：<em>26</em></i>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/goods-jewelry-746"><img class="shoucanimg" src="../../public/images/1487736760.jpg" width="320" height="320" alt=""></a>
                    <div class="dring_thing-cort">
                        <div class="dring_thing-price">
                            ¥39699
                        </div>
                        <p class="dring_thing-word">
                            My Heart 系列 奢华款 70分 H色
                        </p>
                        <div class="dring_thing-button">
                            <span class="wodeshoucan"  data-id="746" price="39699" sku="Z0070213000021">收藏</span>
                            <a href="/goods-jewelry-746"><i>立即购买</i></a>
                        </div>
                        <div class="dring_thing-sold">
                            <span>已售：254</span>
                            <i>评价：<em>81</em></i>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/goods-jewelry-718"><img class="shoucanimg" src="../../public/images/1489574876.jpg" width="320" height="320" alt=""></a>
                    <div class="dring_thing-cort">
                        <div class="dring_thing-price">
                            ¥25189
                        </div>
                        <p class="dring_thing-word">
                            Believe 系列 典雅 50分 G色
                        </p>
                        <div class="dring_thing-button">
                            <span class="wodeshoucan"  data-id="718" price="25189" sku="Z0050223886811">收藏</span>
                            <a href="/goods-jewelry-718"><i>立即购买</i></a>
                        </div>
                        <div class="dring_thing-sold">
                            <span>已售：1811</span>
                            <i>评价：<em>1562</em></i>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/goods-jewelry-138"><img class="shoucanimg" src="../../public/images/1487737016.jpg" width="320" height="320" alt=""></a>
                    <div class="dring_thing-cort">
                        <div class="dring_thing-price">
                            ¥8399
                        </div>
                        <p class="dring_thing-word">
                            Sweety 系列  心蓝 23分 I-J色
                        </p>
                        <div class="dring_thing-button">
                            <span class="wodeshoucan"  data-id="138" price="8399" sku="Z0023043000011">收藏</span>
                            <a href="/goods-jewelry-138"><i>立即购买</i></a>
                        </div>
                        <div class="dring_thing-sold">
                            <span>已售：10947</span>
                            <i>评价：<em>112</em></i>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/goods-jewelry-736"><img class="shoucanimg" src="../../public/images/1489574912.jpg" width="320" height="320" alt=""></a>
                    <div class="dring_thing-cort">
                        <div class="dring_thing-price">
                            ¥28460
                        </div>
                        <p class="dring_thing-word">
                            With You 系列 热恋红宝石 30分 D色
                        </p>
                        <div class="dring_thing-button">
                            <span class="wodeshoucan"  data-id="736" price="28460" sku="Z0030259899911">收藏</span>
                            <a href="/goods-jewelry-736"><i>立即购买</i></a>
                        </div>
                        <div class="dring_thing-sold">
                            <span>已售：253</span>
                            <i>评价：<em>68</em></i>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/goods-jewelry-575"><img class="shoucanimg" src="../../public/images/1489571757.jpg" width="320" height="320" alt=""></a>
                    <div class="dring_thing-cort">
                        <div class="dring_thing-price">
                            ¥15099
                        </div>
                        <p class="dring_thing-word">
                            My Heart 系列 简奢款 30分 H色
                        </p>
                        <div class="dring_thing-button">
                            <span class="wodeshoucan"  data-id="575" price="15099" sku="Z0030213000021">收藏</span>
                            <a href="/goods-jewelry-575"><i>立即购买</i></a>
                        </div>
                        <div class="dring_thing-sold">
                            <span>已售：1014</span>
                            <i>评价：<em>221</em></i>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/goods-jewelry-484"><img class="shoucanimg" src="../../public/images/1486978469.jpg" width="320" height="320" alt=""></a>
                    <div class="dring_thing-cort">
                        <div class="dring_thing-price">
                            ¥26869
                        </div>
                        <p class="dring_thing-word">
                            Forever  系列 奢华款 50分 J色
                        </p>
                        <div class="dring_thing-button">
                            <span class="wodeshoucan"  data-id="484" price="26869" sku="Z0050195786811">收藏</span>
                            <a href="/goods-jewelry-484"><i>立即购买</i></a>
                        </div>
                        <div class="dring_thing-sold">
                            <span>已售：194</span>
                            <i>评价：<em>54</em></i>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/goods-jewelry-517"><img class="shoucanimg" src="../../public/images/1486707117.png" width="320" height="320" alt=""></a>
                    <div class="dring_thing-cort">
                        <div class="dring_thing-price">
                            ¥30309
                        </div>
                        <p class="dring_thing-word">
                            I Swear 系列 奢华款 50分 J色
                        </p>
                        <div class="dring_thing-button">
                            <span class="wodeshoucan"  data-id="517" price="30309" sku="Z0050195886811">收藏</span>
                            <a href="/goods-jewelry-517"><i>立即购买</i></a>
                        </div>
                        <div class="dring_thing-sold">
                            <span>已售：68</span>
                            <i>评价：<em>36</em></i>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/goods-jewelry-748"><img class="shoucanimg" src="../../public/images/1487736808.jpg" width="320" height="320" alt=""></a>
                    <div class="dring_thing-cort">
                        <div class="dring_thing-price">
                            ¥75319
                        </div>
                        <p class="dring_thing-word">
                            My Heart 系列 守护款 100分 H色
                        </p>
                        <div class="dring_thing-button">
                            <span class="wodeshoucan"  data-id="748" price="75319" sku="Z0100213000021">收藏</span>
                            <a href="/goods-jewelry-748"><i>立即购买</i></a>
                        </div>
                        <div class="dring_thing-sold">
                            <span>已售：38</span>
                            <i>评价：<em>13</em></i>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/goods-jewelry-97"><img class="shoucanimg" src="../../public/images/1486708765.png" width="320" height="320" alt=""></a>
                    <div class="dring_thing-cort">
                        <div class="dring_thing-price">
                            ¥19659
                        </div>
                        <p class="dring_thing-word">
                            True Love 系列 典雅 40分 F色
                        </p>
                        <div class="dring_thing-button">
                            <span class="wodeshoucan"  data-id="97" price="19659" sku="Z0040233786811">收藏</span>
                            <a href="/goods-jewelry-97"><i>立即购买</i></a>
                        </div>
                        <div class="dring_thing-sold">
                            <span>已售：12602</span>
                            <i>评价：<em>78</em></i>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/goods-jewelry-111"><img class="shoucanimg" src="http:../../public/images/1489574876.jpg" width="320" height="320" alt=""></a>
                    <div class="dring_thing-cort">
                        <div class="dring_thing-price">
                            ¥15889
                        </div>
                        <p class="dring_thing-word">
                            Believe 系列 典雅 30分 F色
                        </p>
                        <div class="dring_thing-button">
                            <span class="wodeshoucan"  data-id="111" price="15889" sku="Z0030237896911">收藏</span>
                            <a href="/goods-jewelry-111"><i>立即购买</i></a>
                        </div>
                        <div class="dring_thing-sold">
                            <span>已售：23142</span>
                            <i>评价：<em>1562</em></i>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>



    <div class="dr_content">

    </div>
<!--底部-->
    <div class="dr_footer">
        <div class="dr_footer_top"></div>
        <ul class="dr_footer-icon dr_header_content">
            <li>
                <a href="/help/28">
                    <i class="footer-icon1"></i>
                    <span>权威认证</span>
                </a>
            </li>
            <li>
                <a href="/help/42">
                    <i class="footer-icon2"></i>
                    <span>一钻双证</span>
                </a>
            </li>
            <li>
                <a href="/help/41">
                    <i class="footer-icon3"></i>
                    <span>终生保养</span>
                </a>
            </li>
            <li>
                <a href="/help/43">
                    <i class="footer-icon4"></i>
                    <span>以小换大</span>
                </a>
            </li>
            <li>
                <a href="/help/45">
                    <i class="footer-icon5"></i>
                    <span>15天退换</span>
                </a>
            </li>
            <li>
                <a href="/help/36">
                    <i class="footer-icon6"></i>
                    <span>全国免运费</span>
                </a>
            </li>
            <li>
                <a href="/help/44">
                    <i class="footer-icon7"></i>
                    <span>全程保险</span>
                </a>
            </li>
        </ul>
        <!--灰色区域-->
        <div class="dr_gray">
            <!--帮助-->
            <div class="dr_help dr_header_content fix">
                <div class="dr_help-all fl">
                    <div class="dr_help-top">
                        <div class="dr_help-left dr_help-gz fl" id="dr_help-gz">
                            关注我们
                            <!--分享按钮-->
                            <div class="comShare" style="display: none;">
                                <a class="shareWeibo" target="_blank" href=""></a>
                                <a class="shareQzone" target="_blank" href=""></a>
                                <a class="shareQweibo" target="_blank" href=""></a>
                                <a class="shareRenren" target="_blank" href=""></a>
                                <a class="shareDouban" target="_blank" href=""></a>
                                <img src="../../public/images/ew.jpg">
                            </div>
                            <!--分享按钮end-->
                        </div>
                        <a class="dr_help-left" href="">真爱查询</a>
                        <a class="dr_help-left" href="">实体店免费预约</a>
                        <a class="dr_help-left droline_showkf" href="" onclick="">在线客服</a>
                    </div>
                </div>
                <div class="dr_help-all fl">
                    <p>免费服务热线 工作时间:9:00-22:30</p>
                    <img src="../../public/images/tel.png">
                </div>
            </div>
            <!--帮助end-->
        </div>

        <!--黑色区域        -->
        <div class="dr_black">
            <div class="dr_header_content">
                <!--服务-->
                <ul class="dr_servie">
                    <li>
                        <h4>关于我们</h4>
                        <a href="/help/28">权威认证</a>
                        <a href="/help/30">合作专区</a>
                        <a href="/help/32">加入我们</a>
                    </li>
                    <li>
                        <h4>购物指南</h4>
                        <a href="/help/34">购买流程</a>
                        <a href="/help/27">支付方式</a>
                        <a href="/help/36">配送流程</a>
                    </li>
                    <li>
                        <h4>售后服务</h4>
                        <a href="/help/37">退货流程</a>
                        <a href="/help/38">办理售后</a>
                        <a href="/help/45">15天退换</a>
                    </li>
                    <li>
                        <h4>帮助中心</h4>
                        <a href="/help/33">注册流程</a>
                        <a class="droline_showkf" href="" onclick="">联系客服</a>
                        <a href="/help/104">网站地图</a>
                    </li>
                    <li>
                        <h4>服务条款</h4>
                        <a href="/help/41">终生保养</a>
                        <a href="/help/46">注册协议</a>
                        <a href="/help/47">隐私声明</a>
                    </li>
                    <li>
                        <h4>DR资讯</h4>
                        <a href="">钻石百科</a>
                        <a href="">产品百科</a>
                        <a href="">求婚指南</a>
                    </li>
                </ul>
                <!--服务end-->
                <!--声明-->
                <div class="dr_statement">
                    <p>Copyright © 2006-2016 www.darryring.com 戴瑞珠宝 All Rights Reserved. 粤ICP备11012085号-2</p>
                    <p>粤ICP备11012085号-2 | 中国互联网违法信息举报中心 | 中国公安网络110报警服务 | 本网站提供所售商品的正式发票 </p>
                    <p>深圳市戴瑞珠宝有限公司</p>
                </div>
                <!--声明end-->
                <!--友情链接-->
                <div class="dr_friendshare">
                    <span>友情链接：</span>
                    <a href="" target="_blank">戴瑞珠宝官网</a>
                    <a href="" target="_blank">求婚词</a>
                    <a href="" target="_blank">钻石戒指</a>
                    <a href="" target="_blank">魅网女性网</a>
                    <a href="" target="_blank">拍鞋网</a>
                    <a href="" target="_blank">饰品品牌</a>
                    <a href="" target="_blank">化妆品库</a>
                    <a href="" target="_blank">南京房产网</a>
                    <a href="" target="_blank">娱乐新闻</a>
                    <a href="" target="_blank">建材商城</a>
                    <a href="" target="_blank">手表品牌排行</a>
                    <a href="" target="_blank">识货</a>
                    <a href="" target="_blank">梦芭莎时尚网</a>
                    <a href="" target="_blank">发型设计</a>
                    <a href="" target="_blank">白领</a>
                    <a href="" target="_blank">眼镜店</a>
                    <a href="" target="_blank">婚纱摄影</a>
                    <a href="" target="_blank">播视网视频</a>
                    <a href="" target="_blank">发型</a>
                    <a href="" target="_blank">中国女装网</a>
                    <a href="" target="_blank">快递查询</a>
                    <a href="" target="_blank">火车票查询</a>
                    <a href="" target="_blank">伊宅购村安商城</a>
                    <a href="" target="_blank">珂兰钻石</a>
                    <a href="" target="_blank">海外房产</a>
                    <a href="" target="_blank">白酒招商</a>
                    <a href="" target="_blank">爱藏网</a>
                    <a href="" target="_blank">新浪当代艺术</a>
                    <a href="" target="_blank">淘翠网</a>
                    <a href="" target="_blank">重庆房产</a>
                    <a href="" target="_blank">天气预报查询</a>
                    <a href="" target="_blank">海淘</a>
                    <a href="" target="_blank">258</a>
                    <a href="" target="_blank">大学院校库</a>
                    <a href="" target="_blank">佐卡伊钻戒</a>
                    <a href="" target="_blank">南湖国旅</a>
                    <a href="" target="_blank">化妆品招商</a>
                    <a href="" target="_blank">笔趣阁txt下载</a>
                    <a href="" target="_blank">女性健康</a>
                    <a href="" target="_blank">钻戒</a>
                    <a href="" target="_blank">礼物</a>
                    <a href="" target="_blank">手表品牌大全</a>
                    <a href="" target="_blank">钻戒</a>
                    <a href="" target="_blank">婚嫁网</a>
                    <a href="" target="_blank">手机靓号网</a>
                    <a href="" target="_blank">律师</a>
                    <a href="" target="_blank">海淘攻略</a>


                </div>
                <!--友情链接end-->
                <!--中英文切换-->
                <div class="dr_langues">
                    <a href="">中文简体/</a>
                    <a href="">繁体中文/</a>
                    <a href="">English</a>
                </div>
                <!--中英文切换end-->
            </div>
        </div>
    </div>
    <script src="../../public/js/jquery-1.12.4.min.js"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
    <script src="../../public/js/shopinfo.js"></script>

</div>
</body>
</html>